@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>My Name is Nitesh Bansal<br/>
    I am a software Engineer<br/>
    Now I am learning ASP.NET Core</p>
