@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Nitesh Bansal<br />
    AKR PG,Btm 1st stage,Bangalore <br />
    <abbr title="Phone">MNo:</abbr>
    9074283681
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Niteshbansal1196@gmail.com">Niteshbansal1196@gmail.com</a>
   
</address>
