

        h1 {
            color: blue;
            background-color: red;
        }
        h2 {
            color: gold;
            background-color: black;
        }
         button { color:gold;
        }
          q { color:red;
        }
           p { color:blue;
        }
            a { color:blueviolet;
        }
